<%- include('partials/header') %>
<body>
    <%- include('partials/navbar') %>
<div class="background">
    <center>
<h1 class="text-white">Seu Cupom é:</h1>
       <h2 class=" animate__heartBeat text-white" id="cupomNumeber"><%=registro.cupom%></h2>
    </center>
</div>
</body>
<%- include('partials/footer') %>