<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') -%>
</head>
<%- include('./partials/navbar') -%>
<body>
<div class="background">
    <center>
<h1 class="text-white">Seu Cupom é:</h1>
       <h2 id="cupomNumeber"></h2>
    </center>
</div>
</body>
<script>

</script>
<%- include('./partials/script') -%>
</html>